[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[packages]
flask = "*"
flask-socketio = "*"
python-dotenv = "*"
flask-login = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
requests = "*"
mss = "*"

[requires]
python_version = "3.7"
