<div class="msg-box">
    {% if current_user.is_authenticated %}
        <table class="ui table">
            <thead>
            <tr>
                <th>id</th>
                <th>最后登录</th>
                <th>用户名</th>
                <th>主机名</th>
                <th>IP地址</th>
                <th>系统名称</th>
                <th>地理位置</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for agent in agents %}

                <tr>
                    <td><a href="{{ url_for('agent.agent_console', agent_id=agent.id) }}">{{ agent.display_name }}</a>
                    </td>
                    <td>
                        {% if agent.last_online %}
                            {% if agent.is_online() %}
                                ONLINE
                            {% else %}
                                {{ agent.last_online.strftime('%Y/%m/%d %H:%M') }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ agent.username }}</td>
                    <td>{{ agent.hostname }}</td>
                    <td>{{ agent.remote_ip }}</td>
                    <td>{{ agent.operating_system }}</td>
                    <td>{{ agent.geolocation }}</td>

                        {% if agent.last_online %}
                            {% if agent.is_online() %}
                                <td>
                                    <a href="{{ url_for('agent.agent_console', agent_id=agent.id) }}">登录</a>&nbsp;&nbsp;
                                    <a href="{{ url_for('agent.agent_monitor', agent_id=agent.id) }}">远程</a>&nbsp;&nbsp;
                                    <a href="{{ url_for('agent.agent_console', agent_id=agent.id) }}">更多</a>
                                </td>
                            {% else %}
                                <td class="disabled">登录</td>
                            {% endif %}
                        {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>